[submodule "ijcai_18"]
	path = ijcai_18
	url = git@gist.github.com:f0f26221fb82f57ad048f3bf6e0b82b3.git
[submodule "fashionAI_key_points"]
	path = fashionAI_key_points
	url = git@gist.github.com:d97cdaad1a7382e5f04857177c84a9be.git
[submodule "fashionAI_attributes"]
	path = fashionAI_attributes
	url = git@gist.github.com:74a0a1bd0eb23ee791d17349f340aed8.git
[submodule "meinian"]
	path = meinian
	url = git@gist.github.com:ef6a99fffa87ce4c2180f466fdf1dfe4.git
[submodule "ICPR_MTWI_2018"]
	path = ICPR_MTWI_2018
	url = git@gist.github.com:a91957e9a9e3049eec611931e64d6610.git
[submodule "atec_anti_fraud"]
	path = atec_anti_fraud
	url = git@gist.github.com:fb13e539285b791690dee064f88d3010.git
[submodule "atec_nlp_sim"]
	path = atec_nlp_sim
	url = git@gist.github.com:cbe119519a2645ab0f23e27ef314fa68.git
